@using RauSach.Web.Helpers

<!-- Footer Section -->
<footer class="footer_01 withmailchimp">
    <div class="container largeContainer">
        @*<div class="row">
            <div class="col-md-12">
                <div class="ctaMail">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="subTitle">Don’t Miss Our Deals.</div>
                            <h2>EXCLUSIVE OFFERS & SALE</h2>
                            <p>Sign up and get a voucher of worth $250.00</p>
                        </div>
                        <div class="col-lg-7">
                            <form action="#" method="post">
                                <input type="email" name="EMAIL" placeholder="Email Address">
                                <button type="submit">Subsrcribe Now</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
        <div class="row">
            <div class="col-md-7 col-lg-4 fborder">
                <div class="widget contact_widget">
                    <div class="contactbox">
                        <i class="twi-envelope-open-text2"></i>
                        <h5>Email</h5>
                        <p>nguyentuananh30082002@gmail.com</p>
                    </div>
                    <div class="contactbox">
                        <i class="twi-phone-volume2"></i>
                        <h5>Điện thoại</h5>
                        <p>0775 122 681</p>
                        <p>0987 533 553</p>
                        </div>
                    <div class="contactbox">
                        <i class="twi-map-marked-alt2"></i>
                        <h5>Địa chỉ</h5>
                        <p>218 Lạc Long Quân, Tây Hồ, Hà Nội</p>
                        </div>
                </div>
            </div>
            <div class="col-md-5 col-lg-4 fborder">
                <div class="widget">
                    <div class="aboutWidget">
                        <a href="index.html" aria-label="Trang chủ"><img src="~/images/logo1.png" alt="NTA Farm" /></a>
                        <p>Vườn rau của mọi nhà.</p>
                        <div class="abSocial">
                            <a href="#" target="_blank" aria-label="Facebook"><i class="twi-facebook-square"></i></a>
                            <a href="#" target="_blank" aria-label="Tiktok"><img src="/images/tiktok.png" alt="tiktok" style="width: 20px;height: 20px;margin-top: -4px;"></a>
                            <a href="#" target="_blank" aria-label="Youtube"><i class="twi-youtube"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4">
                <div class="widget service_widget">
                    <h3 class="widget_title">GIẢI PHÁP & DỊCH VỤ</h3>
                    <ul>
                        <li><a href="/ve-chung-toi">Trồng trọt</a></li>
                        <li><a href="/ve-chung-toi">Chăn nuôi</a></li>
                        <li><a href="/ve-chung-toi">Xuất khẩu</a></li>
                        <li><a href="@FriendlyUrl.Shop()">Chọn vườn</a></li>
                    </ul>
                    <ul>
                        <li><a href="@FriendlyUrl.Contact()">Liên hệ</a></li>
                        <li><a href="@FriendlyUrl.AboutUs()">Về chúng tôi</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"><div class="col-md-12"><div class="fdivider"></div></div></div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    <p>© Bởi <a href="https://nongtraintc.vn/">NTA FARM</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section -->