<section class="testimonialSec01">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="subTitle">Hoàn toàn tự nhiên</div>
                <h2 class="secTitle">Khách hàng nói gì về chúng tôi?</h2>
                <div class="testimonial01">
                    <div class="testicontent01">
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Mô hình này cho tôi cảm giác có một khu vườn riêng, được trải nghiệm như một nông dân thực thụ tại NTA Farm
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Được trải nghiệm khu vườn trồng trọt tại NTA Farm giúp các con tôi hay chính bản thân tôi cảm thấy rất thú vị & học được thêm nhiều kiến thức, kỹ năng bổ ích
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Thu hoạch từ vườn 50kg rau mỗi tháng gia đình tôi ăn rất thoải mái, còn lại làm quà Tây Nguyên biếu người thân, đồng nghiệp, quá ưng ý
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Công nghệ tại NTA Farm sau khi được trải nghiệm thực tế thực sự tôi thấy quá khác biệt, tiên phong trong ngành nông nghiệp, tôi rất hạnh phúc khi có một khu vườn của chính mình tại đây
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Hàng ngày xem vườn rau của mình tươi tốt qua camera 24/24h của NTA Farm mà tôi yên tâm hẳn khi sử dụng nông sản tại đây
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Mô hình này cho tôi cảm giác có một khu vườn riêng, được trải nghiệm như một nông dân thực thụ tại NTA Farm
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Được trải nghiệm khu vườn trồng trọt tại NTA Farm giúp các con tôi hay chính bản thân tôi cảm thấy rất thú vị & học được thêm nhiều kiến thức, kỹ năng bổ ích
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Thu hoạch từ vườn 50kg rau mỗi tháng gia đình tôi ăn rất thoải mái, còn lại làm quà Tây Nguyên biếu người thân, đồng nghiệp, quá ưng ý
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Công nghệ tại NTA Farm sau khi được trải nghiệm thực tế thực sự tôi thấy quá khác biệt, tiên phong trong ngành nông nghiệp, tôi rất hạnh phúc khi có một khu vườn của chính mình tại đây
                            </p>
                        </div>
                        <div class="item">
                            <div class="ratings">
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                                <i class="twi-star"></i>
                            </div>
                            <p>
                                Hàng ngày xem vườn rau của mình tươi tốt qua camera 24/24h của NTA Farm mà tôi yên tâm hẳn khi sử dụng nông sản tại đây
                            </p>
                        </div>
                    </div>
                    <div class="testimonialNav">
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a5.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Kim Anh</h5>
                                <p>Bình Tân</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a2.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Hồng</h5>
                                <p>Quận 12</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a1.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Ngọc</h5>
                                <p>Quận 7</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a2.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Thủy</h5>
                                <p>Quận 2</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a1.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Anh Thiện</h5>
                                <p>Quận 11</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a5.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Kim Anh</h5>
                                <p>Bình Tân</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a2.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Hồng</h5>
                                <p>Quận 12</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a1.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Ngọc</h5>
                                <p>Quận 7</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a2.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Chị Thủy</h5>
                                <p>Quận 2</p>
                            </div>
                        </div>
                        <div class="item">
                            <div class="autho_thumb">
                                <img src="~/assets/images/home1/a1.png" alt="" />
                            </div>
                            <div class="test_author">
                                <h5>Anh Thiện</h5>
                                <p>Quận 11</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>