<section class="page_banner shop_banner" style="background-image: url(/assets/images/bg/b3.jpg); margin-top: 120px;">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12 text-left">
                <p class="breadcrumbs">
                    <a href="/"><i class="twi-home"></i>Trang chủ</a><i class="twi-angle-right"></i>Lỗi
                </p>
            </div>
        </div>
    </div>
</section>

<section class="singleProduct aboutus">
    <div class="container largeContainer">
        <div class="row">
            <div class="col-lg-12" style="text-align: center; color: red">
                <h4>@(TempData["Error"] != null ? TempData["Error"] : "Có lỗi xảy ra!")</h4>
            </div>
        </div>
    </div>
</section>